@import url('https://fonts.googleapis.com/css2?family=Monofett&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root{
	--cor_erro_input: red;
}
html {
	background: black;
	font-family: "VT323", monospace;
	text-align: center;
}
body {
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: space-around;
	justify-content: center;
	align-items: center;
	margin:0;
	position: relative;
}
header {
	background-image: url("brain_extended.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	flex-wrap: space-around;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	top: 0;

}
header h3 {
	font-family: "VT323", monospace;
	font-weight: bold;
	font-size: 80px;
}
header p {
	font-size: 20px;
	font-style: italic;
}
header h3,p {
	color: #f9f9f9;
	margin: 5px;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 40vh;
	border-radius: 100%;
	padding: 10px;
	background: rgba(64,167,255);
	box-shadow: 0px 0px 1px rgba(0,0,0, 0.4);
	z-index: 2;
}
footer{
	padding: 30px;
	font-size: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	color: grey;
	position: fixed;
	bottom: 0;
	margin-top: auto;
}

@keyframes effect {
	0% {
		transform: scale(0.9,0.9);
	}
	25% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1.05,1.05);
	}
	75% {
		transform: scale(1,1);
	}
	100% {
		transform: scale(0.9,0.9);
	}
}

.startAnim {
	animation: effectDois 2s infinite;
}

#back_effect {
	filter: blur(0);
	border-radius: 100%;
	height: 45vh;
	width: 45vh;
	position: absolute;
	background: rgb(0, 255, 255);
	/*background-image: radial-gradient(blue, yellow 30%, cyan 30%);*/
	z-index: 1;
}
.div_main {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.user_input{
	font-size:25px;
	text-align: center;
	background: #f9f9f9;
	border-radius: 20px;
	width: 50%;
	outline-color: green;
	border-style: none;
	margin: 10px;
}
@keyframes empty{
	0%{transform: translateX(-10%);
			background: var(--cor_erro_input);
	}
	50%{transform: translateX(0%);
			background: var(--cor_erro_input);
	}
	100%{transform: translateX(10%);
			background: var(--cor_erro_input);
	}
}
.emptyUserInput{
	animation: empty 0.09s linear alternate;
}

input:invalid{
        background:red;
}
#chute_btn, #restart {
	font-size:25px;
	border-radius: 20px;
	width: 50%;
	border-style: none;
	margin: 1%;
	font-family: "VT323", monospace;
}
.div_main small {
	font-size: 25px;
	color: #f9f9f9;
}

.div_main b {
	width: 100%;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}
.erro{
	color: red;
}
a{
	text-decoration: none;
	transition: color 0.7s;
}
a:link, a:active, a:visited{color: grey;}
a:hover{color: red;}