/*
	Desenvolvido para fins de estudo.
	Erros podem ter sido cometidos, o
	aprendizado é um longo caminho.
*/

@import url("https://fonts.googleapis.com/css2?family=Monofett&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

:root {
	--cor_erro_input: red;
	--cor_padrao: rgb(0,0,205);
	--cor_errou: rgb(255,10,10);
	--cor_acertou: rgb(15,225,96);
	--cor_lendario: rgb(255, 164, 33);
	/*--cor_lendario: gold;*/
	--cor_branca: ivory;
	--section_cor: rgb(20, 20, 20);
}

html {
	background: rgb(15, 15, 15);
	font-family: "VT323", monospace;
	text-align: center;
	font-size: 1em;
}
body {
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: 0;
}
header {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100vw;
	top: 0;
}
header h1 {
	font-weight: bold;
	font-size: 80px;
}
header h2 {
	font-size: 20px;
	font-style: italic;
}
header h1,
h2 {
	user-select: none;
	/*color: #f9f9f9;*/
	color: var(--cor_branca);
	margin: 5px;
}
section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 40vh;
	width: 40vh;
	border-radius: 100%;
	padding: 10px;
	background: var(--section_cor);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
	z-index: 2;
}
.section__chutes{
	background: lightblue;
	box-sizing: border-box;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	margin:0;
	position: absolute;
	bottom: 5%;
	border-radius: 10px;
	height: 10%;
	width: 80%;
	padding: 0.20em; 
}
.section__chutes__title{
	text-transform: uppercase;
	width: 100%;
	margin: 0;
}
.section__chutes__chutes{
	width: 100%;
	line-height: 1.5;
	margin: 0;
	font-weight: 500;
	font-size: 1.30em;
}
footer {
	padding: 0.2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	color: grey;
	position: fixed;
	margin-top: auto;
	bottom: 0;
}
footer p {
	line-height: 0.5;
	font-size: 0.5em;
	color: grey;
}
@keyframes effect {
	0% {
		transform: scale(0.9, 0.9);
	}
	25% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(1.05, 1.05);
		filter: blur(15px) brightness(150%);
	}
	75% {
		transform: scale(1, 1);
	}
	100% {
		transform: scale(0.9, 0.9);
	}
}
.startAnim {
	animation: effectDois 2s infinite;
}
#back_effect {
	border-radius: 100%;
	height: 45vh;
	width: 45vh;
	position: absolute;
	background: var(--cor_padrao);
	transition: all 0.5s;
	z-index: 1;
}
.div_main {
	color: var(--cor_branca);
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
}
#n_tentativa,
#n_resultado,
#maior_menor {
	width: 100%;
}
.user_input {
	color: black;
	text-align: center;
	background: var(--cor_branca);
	border-radius: 20px;
	width: 50%;
	outline-color: green;
	border-style: none;
	margin: 10px;
	font-family: "VT323", monospace;
	transition:
		background 0.09s,
		transform 0.09s;
}
@keyframes empty {
	0% {
		transform: translateX(-10%);
		background: var(--cor_erro_input);
	}
	50% {
		transform: translateX(0%);
		background: var(--cor_erro_input);
	}
	100% {
		transform: translateX(10%);
		background: var(--cor_erro_input);
	}
}

.emptyUserInput {
	animation: empty 0.09s linear alternate;
}
#chute_btn, #restart{
	background: var(--cor_branca);
}
#chute_btn,
#restart,
.user_input,
.div_main small,
.div_main b {
	text-transform: uppercase;
	font-size: 25px;
	border-radius: 20px;
	width: 8rem;
	border-style: none;
	margin: 1%;
	font-family: "VT323", monospace;
	transition: filter 0.1s;
}
/*#chute_btn:hover,
#restart:hover {
	filter: brightness(70%);
}*/
#chute_btn:active, #restart:active{
	transform: scale(0.9,0.9);
}
.div_main small {
	width: 100%;
	transition: all 0.3s;
}
.div_main b {
	width: 100%;
	text-align: center;
	padding: 10px;
	transition: all 0.3s;
}
.erro {
	color: red;
}
input:invalid {
	background: red;
}
a {
	text-decoration: none;
	transition: color 0.7s;
}
a:link,
a:active,
a:visited {
	color: grey;
}
a:hover {
	color: red;
}

@media(max-width: 320px){
	#chute_btn, #restart, 
	.div_main small, .div_main b,
	.user_input{
		font-size: 1em;
	}
	#chute_btn, #restart, .user_input{
		width: 6em;
	}
}
@media (max-width: 390px) {
	header h1 {
		font-size: 4em;
	}
	header h2 {
		font-size: 1em;
	}
}
@media (min-width: 393px) and (max-width: 480px) {
	header h1 {
		font-size: 5em;
	}
	header h2 {
		font-size: 1.4em;
	}
}
@media (min-width: 490px) {
	header h1 {
		font-size: 10em;
	}
	header h2 {
		font-size: 2em;
	}
}
@media (min-width: 1024px) {
	header h1 {
		font-size: 6em;
	}
	header h2 {
		margin-top: -0.5em;
	}

	footer {
		flex-flow: row wrap;
		font-size: 2.8rem;
		box-sizing: border-box;
		justify-content: space-around;
		gap: 2% 0;
		text-transform: lowercase;
	}
	footer small {
		width: 50%;
	}
	footer p {
		line-height: 1.5;
		display: inline-block;
		width: 50%;
	}
}

@media (min-width: 1280px) and (max-width: 1400px){
	header h2 {
		margin-top: -0.3em;
	}
	footer {
		font-size: 2em;
	}
}
@media (min-width: 1400px) and (max-width: 1440px){
	section{
		width: 50vh;
		height: 50vh;
	}
	#back_effect{
		width: 55vh;
		height: 55vh;
	}
}
@media(min-width: 1440px){
	#chute_btn, #restart, 
	.div_main small, .div_main b,
	.user_input{
		font-size: 2rem;
	}
	#chute_btn, #restart, .user_input{
		width: 40%;
	}
}
